<!DOCTYPE HTML>
<BODY>
<h1 style="text-align:center;">Frequently Asked Questions</h1>

<p style="font-size:23px"><u>What is Sahayak?</u>
<p style="font-size:18px">Sahayak is an online platform for the door to door delivery of all kinds of household needs and services at the ease of a call or few clicks. You can choose your convenient time and prebook any of the services in our portal. Sahayak's services include<br>
<ul style="font-size:18px">
  <li>Cleaning to Fixing</li>
  <li>Repair to Restoration</li>
  <li>Painting to Plumbing</li>
  <li>Packers and Movers to Priest and Puja</li>
  <li>Water cans supply</li>
  <li>Pest Control</li>
</ul>

<p style="font-size:23px"><u>Why should I choose Sahayak?</u>
<p style="font-size:18px">Now you don't have to dial different numbers for a total deep cleaning or repairing your electrical appliances or even supplying water cans. You don't even have to worry about painting or renovating your home. We even attend to your leaking pipes or broken vehicles. With affordable and transparent price list,Sahayak gives you the freedom to choose the time slot according to your convenience for any service you want to avail. We promise to attend your need at the earliest possible time. All our services are covered under the complimentary service warranty scheme.

<p style="font-size:23px"><u>Why do I need Sahayak service?</u>
<p style="font-size:18px">Finding a technician for out of gear appliances, or finding an expert for a deep cleaning for sofa or your home, or finding a plumber for your leaking pipes can be tiresome at times. Even if you find, the exploiting price may dishearten you, or you have to compromise with the quality of the work. There is little assurance of your satisfaction.<br><br>
This is the exact situation where Sahayak comes to your rescue. We are here to take care of all your home-based service needs. With our hassle-free booking system you can reach out to us in seconds and your job is done. Thereafter, finding a trained professional to get your job accomplished is completely our responsibility. We will make sure that your desired service is delivered to your doorstep at the earliest possible time.


<p style="font-size:23px"><u>What is the purpose of Sahayak?</u>
<p style="font-size:18px">Since our inception,we have been striving to serve our purpose of reaching out each and every household to provide the much-needed home-based services in the most hassle-free way possible.<br><br>
For any kind of service, we will reach out to your doorstep even before you come out to looking for any technician, cleaning expert, plumber or other professional. It is our purpose to get your desired service delivered to your doorstep as per your convenient time while you relax and make sure that you are satisfied.<br><br>
If you are new to the city and don't know anyone and face any such type of issues, just give us a call and relax. We will reach out to your doorstep for setting up your issues to make your life smoother.

<p style="font-size:23px"><u>What are the services Sahayak provides?</u>
<p style="font-size:18px">Sahayak provides all kinds of home-based services.
<ul style="font-size:18px">
  <li>Cleaning: Deep cleaning of a full house, full office, kitchen, bathroom or a particular area. Cleaning of sofa set, furniture set, water purifier, overhead tank and underground sump.</li>
  <li>Repairing: Repairing of any kind of electrical appliance, kitchen appliances, computer/laptop, furniture set, solar panel.</li>
  <li>Installation: Installation of AC, CC TV, Gas connection, Water purifier.</li>
  <li>Plumbing: Setting up new pipeline, borewell, fixing leakage and choking</li>
  <li>Painting and Renovation: Painting of full house or particular part, full house renovation, renovating the interior, renovation of a particular part, any kind of civil work</li>
  <li>Vehicle Repair and Servicing now at your doorstep</li>
  <li>Pest Control</li>
  <li>Virus Protection</li>
  <li>Finding a priest and conducting pooja</li>
</ul>

<p style="font-size:23px"><u>What are the responsibilities of the company?</u>
<p style="font-size:18px">Our major role is to provide hassle-free home-based services and improve our customers' lives better and relaxed.<br>
Our responsibilities towards our customers are to serve for the fulfilment of their expectations and ensure 100% satisfaction is reached. In case of any mishaps or dissatisfaction, we have our 24/7 customer service. We make sure to address and resolve any kind of issue in our services in a prompt way.

<p style="font-size:23px"><u>How does Sahayak charge for the services?</u>
<p style="font-size:18px">We have different charges for different services. For details go through our price list.<br>
The actual price of certain services may vary. But nothing to worry. Our representative will brief you about the actual cost after the thorough inspection.<br>
We believe in a transparent and fair price list. We will never charge you anything without prior intimation.

<p style="font-size:23px"><u>How is Sahayak different from others?</u>
<p style="font-size:18px">For Sahayak, providing hassle-free services to customers and ensuring their satisfaction is of top most priority. At Sahayak, we promise to deliver<br><br>
<ul style="font-size:18px">
  <li>Verified Vendors: Before taking any vendor or technician on board, we get there background check and verified through different sources. Your safety and security is our responsibility.</li>
  <li>Value for Money: You pay what you see on our fair and transparent price list, not a penny more. We highly discourage the unethical practice of hidden charges.</li>
  <li>Service Warranty: Your satisfaction is our topmost priority. Hence, we offer a complimentary service warranty. In case, you are not satisfied with any of our services, just raise a concern and we will get it done to your satisfaction at no extra cost.</li>
</ul>
<p style="font-size:18px">We constantly strive to make our services better than before. We listen and work upon your feedbacks and in case of any unintentional mishaps, we take full responsibility and promise that in no case you will be disappointed with Sahayak.

<p style="font-size:23px"><u>Privary Policy and Accessibility:</u>
<p style="font-size:18px">SAHAYAK has established a Privacy Policy that explains to users how their information is collected and used. The Privacy Policy is referenced above and hereby incorporated into the Terms of Use set forth herein. Your use of this Website is governed by the Privacy Policy.<br><br>
Use of the Website is available only to individuals who are at least 18 years old and can form legally binding contracts under applicable law. You represent, acknowledge and agree that you are at least 18 years of age, and that:
<ul style="font-size:18px">
  <li>all registration information that you submit is truthful and accurate</li>
  <li>you will maintain the accuracy of such information, and</li>
  <li>your use of the Website and Services offered through this Website do not violate any applicable law or regulation. Your Account (defined below) may be terminated without warning if we at our discretion, believe that you are under the age of 18 or that you are not complying with any applicable laws, rules or regulations.</li>
  <li>You will not copy or distribute any part of the Website in any medium without Sahayak's prior written authorization.</li>
  <li>You will not alter or modify any part of the Website other than as may be reasonably necessary to use the Website for its intended purpose.</li>
  <li>You will provide true, accurate, current and complete information when creating your Account and you shall maintain and update such information during the term of this Agreement so that it will remain accurate, true, current and complete.</li>
  <li>You shall not use any automated system, including but not limited to, "robots," "spiders," "offline readers," "scrapers," etc., to access the Website for any purpose without Sahayak's prior written approval.</li>
  <li>You shall not in any manual or automated manner collect Service Professionals or Service Users information, including but not limited to, names, addresses, phone numbers, or email addresses, copying copyrighted text, or otherwise misuse or misappropriate Website information or content, including but not limited to, use on a "mirrored", competitive, or third party site.</li>
  <li>You agree not to collect or harvest any personally identifiable data, including without limitation, names or other Account information, from the Website, nor to use the communication systems provided by the Website for any commercial solicitation purposes.</li>
</ul>






</body>
</html>
